<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Dashboard">
<meta name="keyword"
	content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
<title>PROACTIVE</title>

<!-- Favicons -->
<link th:href="@{/img/proactive.jpg}" rel="icon">
<link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">
<!-- Bootstrap core CSS -->
<link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!--external css-->
<link th:href="@{/lib/font-awesome/css/font-awesome.css}"
	rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="css/zabuto_calendar.css">
<link rel="stylesheet" type="text/css"
	href="lib/gritter/css/jquery.gritter.css" />
<!-- Custom styles for this template -->
<link th:href="@{/css/style.css}" rel="stylesheet">
<link th:href="@{/css/style-responsive.css}" rel="stylesheet">
<script th:src="@{/lib/chart-master/Chart.js}"></script>

</head>

<body>
	<section id="container">
		<!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
		<!--header start-->
		<div th:replace="fragments/IVCS_header::IVCSheader"></div>

		<aside>
			<div th:replace="fragments/IVCS_sidebar::IVCSsidebar"></div>

		</aside>
		<!--sidebar end-->
		<!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
		<!--main content start-->
		<section id="main-content">
			<section class="wrapper site-min-height">
				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 cardHeader">
							<b>Department SetUp</b>
						</h1>

					</div>



					<!-- Content Row 1-->

					<div class="row">

						<div class="card-body">


							<div class="card-body formBorder"
								style="background-color: white;">

								<div class="row">
									<div class="col-md-2"></div>
									<div class="col-md-8">
										<label id="errormsg" style="color: red;" th:text="${err}"></label>
										<label id="showmsg" style="color: blue;" th:text="${msg}">
										</label> <br> <br>
										<form action="#" th:action="@{/addDpt}" th:object="${dpt}"
											method="POST">

											<div class="form-group row">

												<label style="font-weight: bold;" for="departmentCode"
													class="col-sm-3 col-form-label">Department Code</label>
												<div class="col-sm-6">
													<input type="text" th:field="*{depCode}"
														class="form-control" id="departmentCode"
														placeholder="Department Code" readonly="readonly">

												</div>
												<p th:if="${#fields.hasErrors('depCode')}"
													th:errors="*{depCode}" style="color: red">Code error</p>

											</div>
											<div class="form-group row">
												<label style="font-weight: bold;" for="departmentName"
													class="col-sm-3 col-form-label">Department Name</label>
												<div class="col-sm-6">
													<input type="text" th:field="*{name}" class="form-control"
														id="departmentName" placeholder="Name">

												</div>
												<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
													style="color: red">Name error</p>

											</div>

											<br>


											<div class="form-group row">
												<label class="col-sm-3 col-form-label">&nbsp;</label>
												<div class="col-sm-9">
													<input type="submit" class="btn btn-success" value="Add"
														style="width: 100px;">

												</div>

											</div>
										</form>
									</div>
									<div class="col-md-2"></div>
								</div>
							</div>

						</div>

					</div>

					<!-- Content Row 2-->

					<div class="row">

						<div class="card-body">


							<div class="card-body" style="background-color: #ffffff;">
								<div class="row">
									<div class="col-md-12 mt">
										<div class="content-panel">
											<table class="table table-hover">
												<div class="col-md-12 " style="padding-right: 0;">
													<h4>
														<b>Department List</b>
													</h4>
												</div>
												<br>
												<br>

												<br>

												<thead style="background-color: rgb(206, 209, 209);">
													<tr
														style="font-size: medium; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
														<th>No</th>

														<th>Department Code</th>
														<th>Department Name</th>
														<th class="col-md-3">Action</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="dpt,iter: ${list}">
														<td th:text="${iter.index + 1}"></td>
														<td th:text="${dpt.depCode}"></td>

														<td th:text="${dpt.name}"></td>
														<td>
															<div class="row">
																<div class="col-md-5">
																	<a th:href="@{/IVCS_DPT_03/{id}(id=${dpt.id})}"
																		class="btn  btn-info" style="width: 100px;">
																		Update</a>
																</div>
																<div class="col-md-5">
																	<a th:href="@{/deleteDpt/{id}(id=${dpt.id})}"
																		class="btn btn-block btn-danger"
																		onclick="return confirm('Are you sure to delete?')">Delete
																	</a>

																</div>
															</div>
														</td>
													</tr>

												</tbody>
											</table>
										</div>
									</div>
									<!-- /col-md-12 -->
								</div>

							</div>

						</div>



					</div>
				</div>
				<!-- End of Page Content -->
			</section>
			<!-- /wrapper -->
		</section>
		<!-- /MAIN CONTENT -->
		<!--main content end-->
		<!--footer start-->
		<div th:replace="fragments/IVCS_footer::IVCSfooter"></div>
		<!--footer end-->
	</section>
	<!-- js placed at the end of the document so the pages load faster -->
	<script th:src="@{/lib/jquery/jquery.min.js}"></script>

	<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
	<script class="include" type="text/javascript"
		th:src="@{/lib/jquery.dcjqaccordion.2.7.js}"></script>
	<script th:src="@{/lib/jquery.scrollTo.min.js}"></script>
	<script th:src="@{/lib/jquery.nicescroll.js}" type="text/javascript"></script>
	<!--common script for all pages-->
	<script th:src="@{/lib/common-scripts.js}"></script>
	<!--script for this page-->

</body>

</html>
