<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>PROACTIVE</title>

  <!-- Favicons -->
  <link th:href="@{/img/proactive.jpg}" rel="icon">
  <link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">
  <!-- Bootstrap core CSS -->
  <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!--external css-->
  <link th:href="@{/lib/font-awesome/css/font-awesome.css}" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="css/zabuto_calendar.css">
  <link rel="stylesheet" type="text/css" href="lib/gritter/css/jquery.gritter.css" />
  <!-- Custom styles for this template -->
  <link th:href="@{/css/style.css}" rel="stylesheet">
  <link th:href="@{/css/style-responsive.css}" rel="stylesheet">
  <script th:src="@{/lib/chart-master/Chart.js}"></script>

</head>

<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
  <!--header start-->
    <div th:replace="fragments/IVCS_header::IVCSheader"></div>
    
    <aside>
    <div th:replace="fragments/IVCS_sidebar::IVCSsidebar"></div>   
   
  </aside>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper site-min-height">
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 cardHeader"><b>User Role Update</b></h1>

          </div>



          <!-- Content Row -->

          <div class="row">

            <div class="card-body">

              <br>
              <div class="card-body" style="background-color: white;">
                <br>
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-8">
                   <br>
                  <p th:text="${message}" style="color:blue;"/>
                 
                 <br>
                   <form th:action="@{/updateRole/{id}(id=${role.id})}" th:object="${role}" method="POST">
                    <div class="form-group row">
                      <label style="font-weight: bold;" for="userRole" class="col-sm-3 col-form-label">User
                        Role<span style="color: red;">*</span></label>
                      <div class="col-sm-6">
                        <input type="text" th:value="${role.name}" th:field="*{name}" class="form-control" id="userRole" placeholder="User Role"  readonly="readonly" >
                      </div>
                            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red">Role error</p>
                    </div>
                     <div class="form-group row">
                      <label style="font-weight: bold;"  for="permission" class="col-sm-3 col-form-label">Permission</label>
                      <div class="col-sm-3 col-form-label">
                        <input type="checkbox"  th:field="*{prmit}" class="custom-control-input" id="inv" value="System Administration">
                        <label class="custom-control-label" for="inv">System Administration</label>
                      </div>
                      <div class="col-sm-2 col-form-label">
                        <input type="checkbox" th:field="*{prmit}"  class="custom-control-input" id="inv1" value="Master Setup">
                        <label class="custom-control-label" for="inv1">Master Setup</label>
                      </div>
                      <div class="col-sm-3 col-form-label">
                        <input type="checkbox" th:field="*{prmit}" class="custom-control-input" id="inv2"  value="Inventory Transaction">
                        <label class="custom-control-label" for="inv2" style="text-align: justify;">Inventory Transaction</label>
                      </div>
                    </div>
                      <div class="form-group row">
                        <label style="font-weight: bold;" for="transaction" class="col-sm-3 col-form-label"></label>
                        <div class="col-sm-3 col-form-label">
                          <input type="checkbox" th:field="*{prmit}" class="custom-control-input" id="inv3" value="Inventory Report">
                          <label class="custom-control-label" for="inv3">Inventory Report</label>
                        </div>
                                 <span th:if="${#fields.hasErrors('prmit')}" th:errors="*{prmit}" style="color:red;"></span>
                      </div>
                      
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label">&nbsp;</label>
                        <div class="col-sm-2">
                        
                          <input type="submit" style="width: 100px;" class="btn btn-success" value="Update">
                        </div>
                          <div class="col-sm-3">
                          <a th:href="@{/IVCS_ROL_01}" style="width: 100px;"  class="btn btn-block btn-warning">
                            Back</a>
                        </div>
  
                      </div>
                      </form>
                  </div>
                  <div class="col-md-2"></div>
                </div>
                
                



                
              </div>

            </div>



          </div><!-- End of Page Content -->
          </div>
  </section>
  <!-- /wrapper -->
</section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->
   <!--footer start-->
   
        <div th:replace="fragments/IVCS_footer::IVCSfooter"></div>

    <!--footer end-->
  </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script th:src="@{/lib/jquery/jquery.min.js}"></script>

  <script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
  <script class="include" type="text/javascript" th:src="@{/lib/jquery.dcjqaccordion.2.7.js}"></script>
  <script th:src="@{/lib/jquery.scrollTo.min.js}"></script>
   <script th:src="@{/lib/jquery.nicescroll.js}" type="text/javascript"></script>
  <!--common script for all pages-->
  <script th:src="@{/lib/common-scripts.js}"></script>
  <!--script for this page-->

</body>

</html>
