<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Dashboard">
<meta name="keyword"
	content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
<title>PROACTIVE</title>

<!-- Favicons -->
<link th:href="@{/img/proactive.jpg}" rel="icon">
<link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">
<!-- Bootstrap core CSS -->
<link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<!--external css-->
<link th:href="@{/lib/font-awesome/css/font-awesome.css}"
	rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="css/zabuto_calendar.css">
<link rel="stylesheet" type="text/css"
	href="lib/gritter/css/jquery.gritter.css" />
<!-- Custom styles for this template -->
<link th:href="@{/css/style.css}" rel="stylesheet">
<link th:href="@{/css/style-responsive.css}" rel="stylesheet">
<script th:src="@{/lib/chart-master/Chart.js}"></script>

</head>

<body>
	<section id="container">
		<!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
		<!--header start-->
		<div th:replace="fragments/IVCS_header::IVCSheader"></div>

		<aside>
			<div th:replace="fragments/IVCS_sidebar::IVCSsidebar"></div>


		</aside>
		<!--sidebar end-->
		<!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
		<!--main content start-->
		<section id="main-content">
			<section class="wrapper site-min-height">
				<h3 class="h3 mb-0 cardHeader">Warehouse Transfer</h3>
				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->







					<!-- Content Row -->
					<div class="row">

						<div class="card-body">

							<br>
							<div class="card-body" style="background-color: #ffffff;">
								<div class="row">

									<div class="content-panel">
										<div class="form-row">

											<div class="col-md-6">

												<div class="form-group row">
													<label style="font-weight: bold;" for="transferNo"
														class="col-sm-4 col-form-label">Transfer No</label>
													<div class="col-sm-4">
														<input type="text" class="form-control" id="transferNo"
															placeholder=" Transfer No" value="TRS" /> <br>
													</div>
												</div>
												<div class="form-group row">
													<label style="font-weight: bold;" for="fromWarehouseCode"
														class="col-sm-4 col-form-label">From Warehouse
														Name</label>
													<div class="col-sm-4">
														<select id="fromWarehouseCode" name="warehouses"
															class="form-control" onchange="from()">
															<option>--select one--</option>
															<option th:each="list:${warehouseList}"
																th:value="${list.id}" th:text="${list.name}"></option>
														</select>

													</div>
												</div>
												<div class="form-group row">
													<label style="font-weight: bold;" for="stock"
														class="col-sm-4 col-form-label">Stock Code</label>
													<div class="col-sm-4">
														<select id="stock" name="toWarehouseCode"
															class="form-control" onchange="stockChange()">
															<option value='null'>--select one--</option>
														</select>
													</div>
												</div>

												<div class="form-group row">
													<label style="font-weight: bold;" for="curren"
														class="col-sm-4 col-form-label">Current Quantity</label>
													<div class="col-sm-4">
														<input type="text" class="form-control" id="curren"
															placeholder="Current Quantity" readonly="readonly">
													</div>
												</div>

												<div class="form-group row">
													<label style="font-weight: bold;" for="price"
														class="col-sm-4 col-form-label">Price</label>
													<div class="col-sm-4">
														<input type="text" class="form-control" id="price"
															placeholder="Price">
													</div>
												</div>

											</div>

											<div class="col-md-6">

												<div class="form-group row">
													<label style="font-weight: bold;" for="transferDate"
														class="col-sm-3 col-form-label"> Transfer Date</label>
													<div class="col-sm-4">
														<input type="date" class="form-control" id="transferDate"
															placeholder="Date">
													</div>
												</div>

												<br>
												<div class="form-group row">
													<label style="font-weight: bold;" for="toWarehouseCode"
														class="col-sm-3 col-form-label"> To Warehouse Name</label>
													<div class="col-sm-4">
														<select id="warehouseCode" name="toWarehouseCode"
															class="form-control">
															<option>--select one--</option>
															<option th:each="list:${warehouseList}"
																th:value="${list.id}" th:text="${list.name}"></option>

														</select>
													</div>
												</div>

												<div class="form-group row">
													<label style="font-weight: bold;" for="rqty"
														class="col-sm-3 col-form-label">Transfer Quantity</label>
													<div class="col-sm-4">
														<input type="text" class="form-control" id="rqty"
															placeholder="Transfer Quantity">
													</div>
												</div>

												<div class="form-group row">
													<div class="col-sm-3"></div>
													<div class="col-sm-4">
														<input style="width: 100px;" type="button"
															class="btn btn-primary" value="Add" onclick="Add()" />
													</div>
												</div>
											</div>


											<table class="table table-hover">
												<thead style="background-color: rgb(206, 209, 209);">
													<tr
														style="font-size: medium; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
														<th style="width: 200px;">Stock Code</th>
														<th style="width: 200px;">Stock Name</th>
														<th style="width: 200px;">Unit</th>
														<th style="width: 200px;text-align: right;">Current Quantity</th>
														<th style="width: 200px;text-align: right;">Transfer Quantity</th>
														<th style="width: 200px;text-align: right;">Price</th>
														<th style="width: 200px;text-align: right;">Total</th>
														<th class="text-center">Action</th>
													</tr>
												</thead>
												<tbody id="body">



												</tbody>
												<tfoot>
												<tr>
														<td colspan="7"></td>
													</tr>
													<tr>
														<th colspan="6" style="text-align: right;">Total Stock
															Item</th>
														<th style="text-align: right;" id="titem">0</th>
													</tr>
												
													<tr>
														<th colspan="6" style="text-align: right;">Total Stock
															Quantity</th>
														<th style="text-align: right;" id="qty">0</th>
													</tr>
													<tr>
														<th colspan="6" style="text-align: right;">Total Stock
															Amount</th>
														<th style="text-align: right;" id="tvalue">0</th>
													</tr>
													<hr />


													<tr>
														<th colspan="7" style="text-align: right;">
															<div class="col-md-6">
																<div class="form-group row" style="margin-right: 550px;">
																</div>
															</div>


															<div class="col-md-6">
																<div class="form-group row" style="margin-left: 230px;">
																	<label style="font-weight: bold;" for="remark"
																		class="col-sm-3 col-form-label">Remark</label>
																	<div class="col-sm-9">
																		<textarea id="remark" name="remark" rows="3" cols="20"></textarea>
																		<br>
																		<div class="row">
																			<div class="col-md-8">
																				<input style="width: 90px;" type="button"
																					class="btn btn-success" value="Done"
																					onclick="done()" />
																			</div>
																			<div class="col-md-3">
																				<a th:href="@{/IVCS_TRS_02}" style="width: 80px;"
																					class="btn btn-block btn-warning"> Back</a>
																			</div>
																		</div>

																	</div>
																</div>


															</div>

														</th>
													</tr>


												</tfoot>

											</table>
											<br />





										</div>

									</div>
								</div>
							</div>

						</div>
					</div>
					<!-- End of Page Content -->
			</section>
			<!-- /wrapper -->
		</section>
		<!-- /MAIN CONTENT -->
		<!--main content end-->
		<!--footer start-->
		<div th:replace="fragments/IVCS_footer::IVCSfooter"></div>
		<!--footer end-->
	</section>
	<!-- js placed at the end of the document so the pages load faster -->
	<script th:src="@{/lib/jquery/jquery.min.js}"></script>

	<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
	<script class="include" type="text/javascript"
		th:src="@{/lib/jquery.dcjqaccordion.2.7.js}"></script>
	<script th:src="@{/lib/jquery.scrollTo.min.js}"></script>
	<script th:src="@{/lib/jquery.nicescroll.js}" type="text/javascript"></script>
	<!--common script for all pages-->
	<script th:src="@{/lib/common-scripts.js}"></script>
	<!--script for this page-->

	<script>
    function from(){
    	var stkOpt="<option value='null'>--select one--</option>";
    	var wNo=document.querySelector("#fromWarehouseCode").value;
    	$(document).ready(function() {
    		$.get("/fromWarehouse",{warehouseNo:wNo},function(data){
    			$.each(data,function(index,da){
    				stkOpt=stkOpt+`<option th:value=${da.stock.stockCode}>${da.stock.stockCode}</option>`;
    			});
    			document.querySelector("#stock").innerHTML=stkOpt;
    		});
    	});
    }
    
    function stockChange(){
    	var stkCode=document.querySelector("#stock").value;
    	var wareId=document.querySelector("#fromWarehouseCode").value;
    	$(document).ready(function() {
    		$.get("/stockChange",{stockCode:stkCode,warehouseId:wareId},function(data){
    			document.querySelector("#curren").value=data.qty;
    			document.querySelector("#price").value=data.price;
    			
    		});
    	});
    }
   function Add(){
	   var objString="";
	   var grandQty=0;
	   var grandAmount=0;
	   var totalItem=0;
	   var tfNo=document.querySelector("#transferNo").value;
	   var wareId=document.querySelector("#fromWarehouseCode").value;
	   var stkCode=document.querySelector("#stock").value;
	   var tfDate=document.querySelector("#transferDate").value;
	   var toWareId=document.querySelector("#warehouseCode").value;
	   var tfQty=document.querySelector("#rqty").value;
	   var price=document.querySelector("#price").value;
	   $(document).ready(function() {
			$.get("/stockTransferAdd",{transferNo:tfNo,stockCode:stkCode,warehouseId:wareId,transferDate:tfDate,
				toWarehouseId:toWareId,transferQty:tfQty,nprice:price},function(data){
					if(data==""){
						alert("Transfer No is already exit!!");	
					}
					$.each(data,function(index,da){
					objString=objString+`
					<tr>
		            <td style="text-align: left;">${da.stock.stockCode}</td>
		            <td style="text-align: left;">${da.stock.name}</td >
		            <td style="text-align: left;">${da.stock.unit.name} </td>
		            <td style="text-align: right;">${da.currentQty}</td>
		            <td style="text-align: right;">${da.transferQty}</td>
		            <td style="text-align: right;">${da.price} </td>
		            <td style="text-align: right;">${da.total}</td>
		            <td style="text-align: center;"> <button  onclick="remove(${da.stock.id})" class="btn btn-danger" ><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
		            </tr>
					`;
					totalItem=index+1;
					grandQty=grandQty+da.transferQty;
					grandAmount=grandAmount+da.total;
					});
					
				document.querySelector("#body").innerHTML=objString;
				document.querySelector("#qty").innerHTML=grandQty;
				document.querySelector("#tvalue").innerHTML=grandAmount;
				document.querySelector("#titem").innerHTML=totalItem;
				document.querySelector("#rqty").value="";
				document.querySelector("#stock").value="";
				document.querySelector("#curren").value="";
				document.querySelector("#price").value="";
			});
	   });
	  
   }
   function done(){
	   var remarkString=document.querySelector("#remark").value;
	   $(document).ready(function() {
			$.get("/stockTransferDone",{remarkSt:remarkString},function(data){
					alert(data);
					document.querySelector("#body").innerHTML="";
					document.querySelector("#qty").innerHTML="";
					document.querySelector("#tvalue").innerHTML="";
					document.querySelector("#titem").innerHTML="";
					document.querySelector("#remark").value="";
					document.querySelector("#curren").value="";
					document.querySelector("#transferNo").value="TRS";
					document.querySelector("#fromWarehouseCode").value="";
					document.querySelector("#stock").value="";
					document.querySelector("#transferDate").value="";
					document.querySelector("#warehouseCode").value="";
					document.querySelector("#rqty").value="";
					document.querySelector("#price").value="";
					
		    }).fail(function() {
					alert("ERROR");
			});
	   });
	   
   }
   function remove(id){
	   var ring="";
	   var grandQty1=0;
	   var grandAmount1=0;
	   var totalItem1=0;
	   $(document).ready(function() {
		   $.get("/stockTransferRemove",{i:id},function(data){
			   $.each(data,function(index,da){
				    ring=ring+`
					<tr>
		            <td style="text-align: left;">${da.stock.stockCode}</td>
		            <td style="text-align: left;">${da.stock.name}</td >
		            <td style="text-align: left;">${da.stock.unit.name} </td>
		            <td style="text-align: right;">${da.currentQty}</td>
		            <td style="text-align: right;">${da.transferQty}</td>
		            <td style="text-align: right;">${da.stock.sellprice} </td>
		            <td style="text-align: right;">${da.total}</td>
		            <td style="text-align: center;"> <button  onclick="remove(${da.stock.id})" class="btn btn-danger" ><i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
		            </tr>
					`;
					totalItem1=index+1;
					grandQty1=grandQty1+da.transferQty;
					grandAmount1=grandAmount1+da.total;
					});
			    document.querySelector("#body").innerHTML=ring;
				document.querySelector("#qty").innerHTML=grandQty1;
				document.querySelector("#tvalue").innerHTML=grandAmount1;
				document.querySelector("#titem").innerHTML=totalItem1;
				document.querySelector("#rqty").value="";
		   });
	   });
   }
   
  </script>
</body>

</html>
